<script setup lang="ts">
import { useAddressBookStore } from '@/stores/AddressBookStore';

const addressBookStore = useAddressBookStore()

</script>
<template>
<div>
    
    <button @click="addressBookStore.isAddNew=!addressBookStore.isAddNew">Add</button>
    <table>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>gender</th>
            <th>tell</th>
            <th>Operation</th>
        </tr>
            <tr v-for="ad of addressBookStore.addressList" :key="ad.id">
            <td>{{ ad.id }}</td>
            <td>{{ ad.name }}</td>
            <td>{{ ad.gender }}</td>
            <td>{{ ad.tell }}</td>
            <td>
                <button @click="addressBookStore.edit(ad.id)">Edit</button>
                <button @click="addressBookStore.remove(ad.id)">Delete</button></td>
        </tr>
    </table>
 </div>
 </template>
 <style scoped>
 input ,select.label{
     font-family: 'Kanit';
     font-size: 15pt;
     margin: 5px;
 }
 table{
    border-collapse: collapse;
    width: 100%;
 }
 th,td{
    text-align: left;
    padding: 8px;
 }
 tr:nth-child(even){
    background-color:rgb(255, 218, 249);}

 th{
    background-color: rgb(177, 196, 234);
    color: rgb(255, 255, 255);
 }
 button{
  width: 98%;
  background-color: #ffd8fe;
  color: rgb(48, 59, 72);
  padding: 20px;
  margin: 5px;
  border:#f0b9e8;
  border-radius: 5px;
  cursor: pointer;
}
 </style>
