<script setup lang="ts">
import { useAddressBookStore } from '@/stores/AddressBookStore';

const addressBookStore = useAddressBookStore()

</script>

<template>
    <div>
        <div v-if="addressBookStore.isAddNew">
    <div>
    <label for="name">Name: </label>
    <input id="name" type="text" v-model ="addressBookStore.address.name"/>
 </div>
 <div>
    <label for="gender">Gender: </label>
    <select id="gender" v-model ="addressBookStore.address.gender">
        <option value="Male">Male</option>
        <option value="female">Female</option>
        <option value="Other">other</option>
    </select>
 </div>
 <div>
    <label for="tell">Tell: </label>
    <input id="tell" type="text" v-model ="addressBookStore.address.tell"/>
 </div>
 <div><button @click="addressBookStore.cancle">Cancle</button><button @click="addressBookStore.Save">Save</button></div>
</div>
 </div>
</template>
<style scoped>
input ,select.label{
    font-family: 'Kanit';
    font-size: 15pt;
    margin: 5px;
}input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ffeafe;
  border-radius: 4px;
  box-sizing: border-box;
}

button{
  width: 49%;
  background-color: #d8e9ff;
  color: rgb(48, 59, 72);
  padding: 20px 20px;
  margin: 2px;
  border:#f0b9e8;
  border-radius: 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f0b9e8;
}

div {
  border-radius: 5px;
  background-color: #fff5fd;
  padding: 12px;
}
</style>