<script setup lang="ts">
import DummyComponent from '@/components/DummyComponent.vue';

import NumberButton from '@/components/NumberButton.vue'
import { provide, ref } from 'vue';
const num1 = ref(0)
provide('num1',num1)
function num1Click(num: number){
  console.log('Num1 Click: '+num)
  num1.value=num
}
</script>

<template>
 <div style="text-align: center;"><img style="width: 300px; border-radius:50%"  src="../assets/toram.jpeg" alt="">
 <h3>สวัสดีอั้บ ป๋มชื่อโทรัม</h3>
  <DummyComponent></DummyComponent>
 </div>
</template>
