<script setup lang="ts">
import { ref ,defineExpose } from 'vue';

const MsgList=ref<HTMLElement | null>(null)
const prop = defineProps<{
    messages:string[]
}>()
function updateUI(){
    console.log('update ui')
    MsgList.value!.scrollTop =MsgList.value!.scrollHeight
}
defineExpose({updateUI})
</script>
<template>
<div ref="MsgList" style="height: 500px; overflow-y: auto ">
<div :class="{card:true,com:index%2==1}"  v-for="(msg,index) of messages" :key="index">{{ msg }}</div></div>
</template>
<style scoped>
.card{
    box-shadow: 0 4px 8px 0 rgba(167, 24, 100, 0.2);
    transition: 0.3s;
    width: 80%;
    border-radius: 5px;
    height: 50pt;

}
.com{
    background-color: rgb(221, 245, 245);
}
</style>